<div id="myDIV" class="header">
    <h2>My To Do List</h2>
    <input nbInput type="text" id="myInput" [(ngModel)]="title" placeholder="Title...">
    <span nbButton (click)="addTitle()" class="addBtn">Add</span>
</div>

<ul id="myUL" *ngFor='let toDo of toDoList'>
    <li>{{toDo.Title}}</li>
</ul>